* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #151515;
}
body header img {
  width: 100%;
}
body main {
  padding: 3% 5%;
}
body main .seccionBusqueda {
  margin-bottom: 10%;
}
body main .seccionBusqueda form {
  display: flex;
  justify-content: space-between;
  margin: 2% 0%;
}
body main .seccionBusqueda form div {
  display: flex;
  margin-right: 7%;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  width: 100%;
}
body main .seccionBusqueda form div input {
  font-size: 28px;
  border: transparent;
  border-bottom: solid black 2px;
  padding: 2%;
  width: 100%;
}
body main .seccionBusqueda form div label {
  margin-right: 10%;
  color: #757575;
  letter-spacing: 1px;
}
body main .seccionBusqueda form div select {
  font-size: 13px;
  border: none;
  font-weight: bold;
}
body main .seccionBusqueda form div button {
  background-color: #151515;
  color: white;
  padding: 1.5%;
  font-size: 15px;
  border: transparent;
  transition: 0.5s;
}
body main .seccionBusqueda form div button:hover {
  background-color: #ed1d23;
}
body main .seccionBusqueda form div input:focus, body main .seccionBusqueda form div select:focus, body main .seccionBusqueda form div button:focus {
  outline-color: #ed1d23;
}
body main .seccionBusqueda form div .contenedorOrdenPersonajes {
  display: none;
}
body main .seccionResultados h2 {
  margin: 2% 0;
}
body main .seccionResultados p {
  font-weight: bold;
  color: #757575;
  font-size: 13px;
}
body footer {
  background-color: #151515;
  color: white;
  padding: 3%;
  display: flex;
  justify-content: center;
  font-size: 17px;
}
body footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.contenedorPaginador {
  display: flex;
  justify-content: center;
}
.contenedorPaginador button {
  font-size: 15px;
  background-color: #151515;
  color: white;
  margin: 0 0.5%;
  padding: 1%;
  border: transparent;
  transition: 0.5s;
}
.contenedorPaginador button:hover {
  background-color: #ed1d23;
}
.contenedorPaginador .disabled {
  background-color: gray;
}
.contenedorPaginador .disabled:hover {
  background-color: gray;
}
.contenedorPaginador #actualPage {
  background-color: #151515;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerCards .comicCard {
  width: 300px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.containerCards .comicCard .imgContainer {
  margin-bottom: 10px;
}
.containerCards .comicCard .imgContainer .cardImg {
  height: 100%;
  box-shadow: -1px 11px 19px 0px rgba(0, 0, 0, 0.31);
  transform: translateY(0);
  transition: 0.2s;
}
.containerCards .comicCard .comicTitle, .containerCards .comicCard .characterName {
  font-size: 17px;
  transition: 0.2s;
}
.containerCards .comicCard:focus .cardImg,
.containerCards .comicCard:hover .cardImg {
  transform: translateY(-10px);
}
.containerCards .comicCard:focus .comicTitle,
.containerCards .comicCard:hover .comicTitle {
  color: #ed1d23;
}
.containerCards .characterCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px;
  color: white;
  cursor: pointer;
}
.containerCards .characterCard .imgContainer {
  border-bottom: 4px solid #ed1d23;
  overflow: hidden;
  margin-bottom: 0px;
}
.containerCards .characterCard .imgContainer .cardImg {
  height: 100%;
  transition: 0.2s;
}
.containerCards .characterCard .nameContainer {
  padding: 18px 22px;
  background-color: #151515;
  transition: 0.2s;
  margin-top: 0px;
}
.containerCards .characterCard .nameContainer .characterName {
  height: 79px;
  font-size: 17px;
}
.containerCards .characterCard:focus .nameContainer, .containerCards .characterCard:hover .nameContainer {
  background-color: #ed1d23;
}
.containerCards .characterCard:focus .cardImg, .containerCards .characterCard:hover .cardImg {
  transform: scale(1.1);
}
.containerCards .characterCard:focus {
  outline: 0;
}

.containerComicDetails,
.containerCharacterDetails {
  padding: 100px;
}
.containerComicDetails .contenedorDetalles,
.containerCharacterDetails .contenedorDetalles {
  display: flex;
  justify-content: flex-start;
}
.containerComicDetails .contenedorDetalles img,
.containerCharacterDetails .contenedorDetalles img {
  max-width: 350px;
  margin: 0 30px 30px 0;
}
.containerComicDetails .contenedorDetalles h3,
.containerComicDetails .contenedorDetalles p,
.containerCharacterDetails .contenedorDetalles h3,
.containerCharacterDetails .contenedorDetalles p {
  margin: 25px 0;
}
.containerComicDetails .containerCharacters,
.containerCharacterDetails .containerCharacters {
  display: flex;
  flex-wrap: wrap;
}
.containerComicDetails .containerCharacters .characterCard,
.containerCharacterDetails .containerCharacters .characterCard {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 330px;
  margin: 10px;
  color: white;
  cursor: pointer;
}
.containerComicDetails .containerCharacters .characterCard .imgContainer,
.containerCharacterDetails .containerCharacters .characterCard .imgContainer {
  border-bottom: 4px solid #ed1d23;
  overflow: hidden;
  margin-bottom: 0px;
}
.containerComicDetails .containerCharacters .characterCard .imgContainer .cardImg,
.containerCharacterDetails .containerCharacters .characterCard .imgContainer .cardImg {
  height: 100%;
  transition: 0.2s;
}
.containerComicDetails .containerCharacters .characterCard .nameContainer,
.containerCharacterDetails .containerCharacters .characterCard .nameContainer {
  padding: 18px 22px;
  background-color: #151515;
  transition: 0.2s;
  margin-top: 0px;
}
.containerComicDetails .containerCharacters .characterCard .nameContainer .characterName,
.containerCharacterDetails .containerCharacters .characterCard .nameContainer .characterName {
  height: 45px;
  font-size: 14px;
}
.containerComicDetails .containerCharacters .characterCard:focus .nameContainer, .containerComicDetails .containerCharacters .characterCard:hover .nameContainer,
.containerCharacterDetails .containerCharacters .characterCard:focus .nameContainer,
.containerCharacterDetails .containerCharacters .characterCard:hover .nameContainer {
  background-color: #ed1d23;
}
.containerComicDetails .containerCharacters .characterCard:focus .cardImg, .containerComicDetails .containerCharacters .characterCard:hover .cardImg,
.containerCharacterDetails .containerCharacters .characterCard:focus .cardImg,
.containerCharacterDetails .containerCharacters .characterCard:hover .cardImg {
  transform: scale(1.1);
}
.containerComicDetails .containerCharacters .characterCard:focus,
.containerCharacterDetails .containerCharacters .characterCard:focus {
  outline: 0;
}
.containerComicDetails .containerComics,
.containerCharacterDetails .containerComics {
  display: flex;
  flex-wrap: wrap;
}
.containerComicDetails .containerComics .comicCard,
.containerCharacterDetails .containerComics .comicCard {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.containerComicDetails .containerComics .comicCard .imgContainer,
.containerCharacterDetails .containerComics .comicCard .imgContainer {
  margin-bottom: 10px;
}
.containerComicDetails .containerComics .comicCard .imgContainer .cardImg,
.containerCharacterDetails .containerComics .comicCard .imgContainer .cardImg {
  height: 100%;
  width: 200px;
  box-shadow: -1px 11px 19px 0px rgba(0, 0, 0, 0.31);
  transform: translateY(0);
  transition: 0.2s;
}
.containerComicDetails .containerComics .comicCard .comicTitle, .containerComicDetails .containerComics .comicCard .characterName,
.containerCharacterDetails .containerComics .comicCard .comicTitle,
.containerCharacterDetails .containerComics .comicCard .characterName {
  font-size: 17px;
  transition: 0.2s;
}
.containerComicDetails .containerComics .comicCard:focus .cardImg,
.containerComicDetails .containerComics .comicCard:hover .cardImg,
.containerCharacterDetails .containerComics .comicCard:focus .cardImg,
.containerCharacterDetails .containerComics .comicCard:hover .cardImg {
  transform: translateY(-10px);
}
.containerComicDetails .containerComics .comicCard:focus .comicTitle,
.containerComicDetails .containerComics .comicCard:hover .comicTitle,
.containerCharacterDetails .containerComics .comicCard:focus .comicTitle,
.containerCharacterDetails .containerComics .comicCard:hover .comicTitle {
  color: #ed1d23;
}

/*# sourceMappingURL=style.css.map */
