* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #151515;
}
body header img {
  width: 100%;
}
body main {
  padding: 3% 5%;
}
body main .seccionBusqueda {
  margin-bottom: 10%;
}
body main .seccionBusqueda form {
  display: flex;
  justify-content: space-between;
  margin: 2% 0%;
}
body main .seccionBusqueda form div {
  display: flex;
  margin-right: 7%;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  width: 100%;
}
body main .seccionBusqueda form div input {
  font-size: 28px;
  border: transparent;
  border-bottom: solid black 2px;
  padding: 2%;
  width: 100%;
}
body main .seccionBusqueda form div label {
  margin-right: 10%;
  color: #757575;
  letter-spacing: 1px;
}
body main .seccionBusqueda form div select {
  font-size: 13px;
  border: none;
  font-weight: bold;
}
body main .seccionBusqueda form div button {
  background-color: #151515;
  color: white;
  padding: 1.5%;
  font-size: 15px;
  border: transparent;
  transition: 0.5s;
}
body main .seccionBusqueda form div button:hover {
  background-color: #ed1d23;
}
body main .seccionBusqueda form div input:focus, body main .seccionBusqueda form div select:focus, body main .seccionBusqueda form div button:focus {
  outline-color: #ed1d23;
}
body main .seccionBusqueda form div .contenedorOrdenPersonajes {
  display: none;
}
body main .seccionResultados h2 {
  margin: 2% 0;
}
body main .seccionResultados p {
  font-weight: bold;
  color: #757575;
  font-size: 13px;
}
body footer {
  background-color: #151515;
  color: white;
  padding: 3%;
  display: flex;
  justify-content: center;
  font-size: 17px;
}
body footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.contenedorPaginador {
  display: flex;
  justify-content: center;
}
.contenedorPaginador button {
  font-size: 15px;
  background-color: #151515;
  color: white;
  margin: 0 0.5%;
  padding: 1%;
  border: transparent;
  transition: 0.5s;
}
.contenedorPaginador button:hover {
  background-color: #ed1d23;
}

.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerCards .comicCard, .containerCards .characterCard {
  width: 300px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.containerCards .comicCard .imgContainer, .containerCards .characterCard .imgContainer {
  margin-bottom: 10px;
}
.containerCards .comicCard .imgContainer .cardImg, .containerCards .characterCard .imgContainer .cardImg {
  height: 100%;
  box-shadow: -1px 11px 19px 0px rgba(0, 0, 0, 0.31);
  transform: translateY(0);
  transition: 0.2s;
}
.containerCards .comicCard .comicTitle, .containerCards .characterCard .comicTitle {
  font-size: 17px;
  transition: 0.2s;
}
.containerCards .comicCard:focus .cardImg,
.containerCards .comicCard:hover .cardImg, .containerCards .characterCard:focus .cardImg,
.containerCards .characterCard:hover .cardImg {
  transform: translateY(-10px);
}
.containerCards .comicCard:focus .comicTitle,
.containerCards .comicCard:hover .comicTitle, .containerCards .characterCard:focus .characterName,
.containerCards .characterCard:hover .characterName {
  color: #ed1d23;
}

.containerComicDetails, .containerCharacterDetails {
  padding: 100px;
}
.containerComicDetails .contenedorDetalles, .containerCharacterDetails .contenedorDetalles {
  display: flex;
  justify-content: center;
}
.containerComicDetails .contenedorDetalles img, .containerCharacterDetails .contenedorDetalles img {
  max-width: 350px;
  margin: 0 30px 30px;
}
.containerComicDetails .contenedorDetalles h3, .containerComicDetails .contenedorDetalles p, .containerCharacterDetails .contenedorDetalles h3, .containerCharacterDetails .contenedorDetalles p {
  margin: 25px 0;
}

/*# sourceMappingURL=style.css.map */
