.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .comicCard{
    width: 300px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    .imgContainer {
      margin-bottom: 10px;
      .cardImg {
        height: 100%;
        box-shadow: -1px 11px 19px 0px rgba(0, 0, 0, 0.31);
        transform: translateY(0);
        transition: 0.2s;
      }
    }
    .comicTitle,.characterName  {
      font-size: 17px;
      transition: 0.2s;
    }
  }
  .comicCard:focus .cardImg,
  .comicCard:hover .cardImg{
    transform: translateY(-10px);
  }
  .comicCard:focus .comicTitle,
  .comicCard:hover .comicTitle{
    color: $colorRojo;
  }
  .characterCard{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    color: $colorBlanco;
    cursor: pointer;
    .imgContainer{
      border-bottom: 4px solid $colorRojo;
      overflow: hidden;
      margin-bottom: 0px;
      .cardImg{
        height: 100%;
        transition: 0.2s;
      }
    }
    .nameContainer{
      padding: 18px 22px;
      background-color: $colorNegro;
      transition: 0.2s;
      margin-top: 0px;
      .characterName{
        height: 79px;
        font-size: 17px;
      }
    }
  }
  .characterCard:focus .nameContainer, .characterCard:hover .nameContainer{
    background-color: $colorRojo;
  }
  .characterCard:focus .cardImg, .characterCard:hover .cardImg{
    transform: scale(1.1);
  }
  .characterCard:focus{
    outline: 0;
  }
}


