<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../imagenes/favicon.png" />
    <title>Buscador de Comics</title>
</head>
<body>
    <header>
        <img src="../imagenes/imagen-header.jpg" />
    </header>
    <div id="containerComicDetails" class="containerComicDetails">

    </div>

    <footer>
        <p>
          Hecho con 💖 por
          <a href="https://www.linkedin.com/in/magali-baez-319934172/">Magui</a> y
          <a href="https://www.linkedin.com/in/leila-julieta-pena/">Lei</a>
        </p>
      </footer>
    <script src="../js/details.js"></script>
</body>
</html>